# Entorno virtual
.venv/
venv/
ENV/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de Spark / Hadoop temporales
metastore_db/
derby.log
*.log

# Opcional: si los datos procesados son muy pesados
# data/silver/